- content_for(:title) do
  Edit Question - Launch Academy

%ul.breadcrumbs
  %li= link_to "Questions", questions_path
  %li.current= link_to "Edit Question", edit_question_path(@question)

%h2 Edit Question

#edit-question
  = form_for @question do |f|
    = field_set_tag "Edit Question" do

      = f.label :title, "Title"
      = f.text_field :title

      = f.label :body, "Body"
      = f.text_area :body

      = f.submit "Update Question", class: "button"
