- content_for(:title) do
  = "#{@question.title} - Launch Academy"

%ul.breadcrumbs
  %li= link_to "Questions", questions_path
  %li.current= link_to @question.title, question_path(@question)

#question
  %h2.title= @question.title

  .body= @question.body

#answers
  - if @question.answers.empty?
    There are no answers yet.
  - else
    - @question.answers.each do |answer|
      .answer
        .user= "#{answer.user.username} answered"
        .body= answer.body

#new-answer
  = form_for [@question, @answer] do |f|
    = field_set_tag "Answer Question" do

      = f.label :body, "Answer"
      = f.text_area :body

      = f.submit "Submit Answer", class: "button"
