- content_for(:title) do
  = "#{@question.title} - Launch Academy"

%ul.breadcrumbs
  %li= link_to "Questions", questions_path
  %li.current= link_to @question.title, question_path(@question)

#question
  %h2.title= @question.title
  = link_to "Edit Question", edit_question_path(@question)
  .row
    .small-8.columns
      %p.body= @question.body
    .small-4.columns
      .user
        = link_to @question.user.username, user_path(@question.user)
        asked on
        .created_at= format_datetime(@question.created_at)

#answers
  %h3.answer-count= pluralize(@question.answers.count, "answer")

  - @question.sorted_answers.each do |answer|
    - if answer.persisted?
      .answer
        .row
          .small-8.columns
            %p.body= answer.body
            = link_to "Edit Answer", edit_question_answer_path(@question, answer)

          .small-4.columns
            .user
              = link_to answer.user.username, user_path(answer.user)
              answered on
              .answered_at= format_datetime(answer.created_at)
            - if answer.accepted?
              .accepted
                %i.fi-check.large
                accepted answer
            - elsif @question.user == current_user
              .accept-form
                = form_for @question do |f|
                  = f.hidden_field :accepted_answer_id, value: answer.id
                  = f.submit "Accept Answer", class: "tiny button"

#new-answer
  = form_for [@question, @answer] do |f|
    = field_set_tag "Answer Question" do

      = f.label :body, "Answer"
      = f.text_area :body

      = f.submit "Submit Answer", class: "button"
