- content_for(:title) do
  = "#{@team.name} - Launch Academy"

%ul.breadcrumbs
  %li= link_to "Teams", teams_path
  %li.current= link_to @team.name, team_path(@team)

%h2= "Team: #{@team.name}"

.row
  .large-3.columns
    %h3 Members

    %ul.block#members
      - @team.users.each do |user|
        %li= link_to(user.username, user)

  .large-9.columns
    %h3= link_to "Announcements", team_announcements_path(@team)

    %table#assignments.tablesorter
      %thead
        %th Title
        %th Description

      %tbody
        - @team.announcements.order(created_at: :desc).each do |announcement|
          %tr
            %td= announcement.title
            %td= render_markdown(announcement.description)

  .large-9.columns
    %h3= link_to "Assignments", team_assignments_path(@team)

    %table#assignments.tablesorter
      %thead
        %th Lesson
        %th Due
        %th Required
        - if current_user.admin?
          %th Submissions

      %tbody
        - @team.assignments.order(due_on: :asc).each do |assignment|
          %tr
            %td= link_to(assignment.lesson.title, assignment.lesson)
            %td= assignment.due_on
            %td= assignment.required
            - if current_user.admin?
              %td= link_to "View", assignment_path(assignment)



