- content_for(:title) do
  = "#{@announcement.title} Assignment - Launch Academy"

%h1= "#{@announcement.title}"

#body
  ~ render_markdown(@announcement.description)

- if current_user.admin?
  = link_to("delete announcement", announcement_path, method: :delete, class: "button small alert")

= link_to "Got It", announcement_receipts_path(announcement_id: @announcement.id), method: :post, class: "button small success"
