- content_for(:title) do
  Assignments - Launch Academy

%h1 Assignments

- if params[:query]
  .result-count
    - if @assignments.empty?
      = "No results found for \"#{params[:query]}\"."
    - else
      = "Found #{@assignments.length} result(s) for \"#{params[:query]}\"."

%table
  %thead
    %tr
      %th Title

  %tbody
    - @assignments.each do |assignment|
      %tr
        %td= link_to assignment.title, assignment_path(assignment)
