- content_for(:title) do
  New Assignment - Launch Academy

%h2= "New Assignment for #{@team.name}"

%ul.breadcrumbs
  %li= link_to "Teams", teams_path
  %li= link_to @team.name, @team
  %li Assignments
  %li.current= link_to "New Assignment", new_team_assignment_path(@team, @assignment)

= form_for [@team, @assignment] do |f|
  = field_set_tag "Add Assignment" do
    = f.label :lesson_id, "Challenge"
    = f.select :lesson_id , Lesson.challenges.map { |l| [l.title, l.id] }

    = f.label :due_on, "Due Date"
    = f.text_field :due_on

    .check-box
      = f.label :required do
        = f.check_box :required
        Required

    = f.submit "Add Assignment", class: "button"
