%h1= "Profile for #{@user.username}"

- if @user == current_user
  #settings
    %ul
      %li= "Token: #{@user.token}"

#submissions
  %ul
    - @user.submissions.each do |submission|
      = link_to submission.challenge.title, submission_path(submission)
