- content_for(:title) do
  = "#{@user.username} - Launch Academy"

- if !@user.name.blank?
  %h2= "User: #{@user.username} (#{@user.name})"
- else
  %h2= "User: #{@user.username}"


- if @user == current_user
  #settings
    .box
      .box__header
        %h3 Account Settings

      .box__body
        .row
          .small-3.columns
            = label_tag :token, "Token", class: "right inline"
          .small-9.columns
            %span.token-field
              Hidden from view
            %span.hidden.token-field
              = text_field_tag :token, @user.token, readonly: true
            %a#show-token Toggle

#teams
  .box
    .box__header
      %h3 Teams

    .box__body
      %ul
        - @user.teams.each do |team|
          %li= link_to team.name, team_path(team)

#submissions
  .box
    .box__header
      %h3 Submissions

    .box__body
      %table
        %thead
          %tr
            %th Lesson
            %th Submitted On

        %tbody
          - @user.submissions.each do |submission|
            %tr
              %td= link_to submission.lesson.title, submission_path(submission)
              %td= format_datetime(submission.created_at)
