- content_for(:title) do
  = "#{@user.username} - Launch Academy"

%h1= "User: #{@user.username}"

- if @user == current_user
  #settings
    .box
      .box__header
        %h2 Account Settings

      .box__body
        .row
          .small-3.columns
            = label_tag :token, "Token", class: "right inline"
          .small-9.columns
            %span.token-field
              Hidden from view
            %span.hidden.token-field
              = text_field_tag :token, @user.token, readonly: true
            %a#show-token Toggle

#submissions
  .box
    .box__header
      %h2 Submissions

    .box__body
      %table
        %thead
          %tr
            %th Lesson
            %th Submitted On

        %tbody
          - @user.submissions.each do |submission|
            %tr
              %td= link_to submission.lesson.title, submission_path(submission)
              %td= format_datetime(submission.created_at)
