- content_for(:title) do
  = "#{@lesson.title} Submissions - Launch Academy"

%ul.breadcrumbs
  %li= link_to "Lessons", lessons_path
  %li= link_to @lesson.title, lesson_path(@lesson)
  %li.current= link_to "Submissions", lesson_submissions_path(@lesson)

%h1
  = "Submissions for #{@lesson.title}"

- if !@submissions.empty?
  #submissions
    %table
      %thead
        %tr
          %th Submitter
          %th Submission Time
          %th.center Status
          %th.center(title = "Public submissions are visible to other logged in users who have submitted a solution to this challenge. Private submissions are only visible to you and administrators.") Visibility
          %th.center(title = "Featured submissions indicate an exemplary solution to a challenge") Featured

      %tbody
        - @submissions.each do |submission|
          %tr
            %td= submission.user.username
            %td= submission.created_at
            %td.center= link_to "Submitted", submission_path(submission)
            %td.center= submission.public ? "public" : "private"
            %td.center
              - if submission.featured
                %i.fi-check
- else
  %p Other submissions hidden until you've submitted yours.
