%h1= "Submissions for #{@challenge.title}"

#submissions
  %table
    %thead
      %tr
        %th Submitter
        %th Submission Time
        %th Status

    %tbody
      - @submissions.each do |submission|
        %tr
          %td= submission.user.username
          %td= submission.created_at
          %td= link_to "Submitted", submission_path(submission)
