- content_for(:title) do
  = "New Submission - #{@challenge.title}"

%h1= "New Submission - #{@challenge.title}"

= form_for [@challenge, @submission] do |f|
  - if @submission.errors.any?
    .errors
      %p The solution couldn't be submitted.
      %ul
        - @submission.errors.full_messages.each do |message|
          %li= message

  = f.label :body, "Solution"
  = f.text_area :body, rows: 30
  - if @submission.errors[:body].any?
    %small.error= @submission.errors[:body].first

  = f.submit "Submit", class: "button"

= form_for [@challenge, @submission] do |f|
  - if @submission.errors.any?
    .errors
      %p The solution couldn't be submitted.
      %ul
        - @submission.errors.full_messages.each do |message|
          %li= message

  = f.label :archive, "Solution Archive"
  = f.file_field :archive

  = f.submit "Upload", class: "button"
