%h1= "New Submission - #{@assignment.title}"

= form_for [@assignment, @submission] do |f|
  - if @submission.errors.any?
    .errors
      %p The solution couldn't be submitted.
      %ul
        - @submission.errors.full_messages.each do |message|
          %li= message

  = f.label :body, "Solution"
  = f.text_area :body, rows: 30
  - if @submission.errors[:body].any?
    %small.error= @submission.errors[:body].first

  = f.submit "Submit", class: "button"
