- content_for(:title) do
  = "#{@submission.lesson.title} Submission - Launch Academy"

%h1= "Submission for #{@submission.lesson.title}"

%dl#submission-details.attribute-box
  %dt Submitter
  %dd#submitter= @submission.user.username
  %dt Date
  %dd#submission-time= format_datetime(@submission.created_at)
  %dt Public
  %dd#public
    = @submission.public
    = form_for @submission, html: { class: "inline" } do |f|
      - if @submission.public
        = f.hidden_field :public, value: false
        = f.submit "Make Private", class: "button tiny"
      - else
        = f.hidden_field :public, value: true
        = f.submit "Make Public", class: "button tiny"

#submission
  - @submission.files.each do |file|
    .source-file(data-source-file-id="#{file.id}")
      .filename
        = file.filename
      .body
        ~ render_source_file(file)

#comments
  - @submission.general_comments.each do |comment|
    - if comment.persisted?
      .comment.general-comment
        .user= "#{comment.user.username} commented"
        .body= comment.body

  = form_for [@submission, @comment] do |f|
    = field_set_tag "Leave a comment" do
      .hidden-attributes
        = f.label :source_file_id, "Filename"
        = f.select :source_file_id , @submission.files.map { |f| [f.filename, f.id] }, include_blank: true

        = f.label :line_number, "Line Number"
        = f.text_field :line_number

      = f.label :body, "Comment"
      = f.text_area :body, rows: 5
      - if @comment.errors[:body].any?
        %small.error= @comment.errors[:body].first

      = f.submit "Submit", class: "button"
