- content_for(:title) do
  Lessons - Launch Academy

%ul.breadcrumbs
  %li.current= link_to "Lessons", lessons_path

%h2 Lessons

- if params[:query]
  .result-count
    - if @lessons.empty?
      = "No results found for \"#{params[:query]}\"."
    - else
      = "Found #{@lessons.length} result(s) for \"#{params[:query]}\"."

.lessons
  - @lessons.each do |lesson|
    .lesson
      .lesson-type{ class: lesson.type }= lesson.type
      %h3.title= link_to lesson.title, lesson
      .description
        = lesson.description
