%h1 Search Results

.result-count
  - if @results.empty?
    = "No results found for \"#{params[:query]}\"."
  - else
    = "Found #{@results.length} result(s) for \"#{params[:query]}\"."

%table
  %thead
    %tr
      %th Title

  %tbody
    - @results.each do |result|
      %tr
        %td= link_to result.title, result
