- content_for(:title) do
  Dashboard - Launch Academy

%h2 Dashboard

%h3 Announcements

%table.tablesorter
  %thead
    %tr
      %th Team
      %th Title
      %th Description
      %th

  %tbody
    - @announcements.each do |announcement|
      %tr
        %td= link_to(announcement.team.name, announcement.team)
        %td= announcement.title.truncate(35)
        %td= announcement.description.truncate(50)
        %td= link_to("show", announcement)


%h3 Upcoming Assignments

%table.tablesorter
  %thead
    %tr
      %th Team
      %th Lesson
      %th Due Date
      %th Required
      %th Submitted
      %th Reviewed

  %tbody
    - @upcoming_assignments.each do |assignment|
      %tr
        %td= link_to(assignment.team.name, assignment.team)
        %td= link_to(assignment.lesson.title, assignment.lesson)
        %td= format_datetime(assignment.due_on)
        %td.required= assignment.required ? "yes" : "no"
        %td.submitted= assignment.submitted?(current_user) ? "yes" : "no"
        %td.reviewed= assignment.reviewed?(current_user) ? "yes" : "no"

- if @feed_items.present?
  %h3 Feed

  %ul
    - @feed_items.each do |feed_item|
      %li
        %h4= feed_item.title
        .feed-body= feed_item.body
        .timestamp= time_ago_in_words(feed_item.created_at)

