%h1 New Course

= form_for @course do |f|
  = f.label :title
  = f.text_field :title
  - if @course.errors[:title].any?
    %small.error= @course.errors[:title].first

  = f.submit "Create Course", class: "button"
