- content_for(:title) do
  = "#{@challenge.title} - Launch Academy"

%h1= @challenge.title

%ul.side-nav
  %li= link_to "Download Files", @challenge.archive.url
  - if user_signed_in?
    %li= link_to "Your Submissions", challenge_submissions_path(@challenge)
    %li= link_to "Submit Solution", new_challenge_submission_path(@challenge)

#body
  ~ render_markdown(@challenge.body)
