!!! html
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    %title= content_for?(:title) ? yield(:title) : "Horizon - Programming Challenges & Articles"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  %body
    .contain-to-grid.full-top-bar
      %nav.top-bar(data-topbar)
        %ul.title-area
          %li.name
            %h1= link_to "Horizon", root_path
          %li.toggle-topbar.menu-icon
            %a(href="#")
              %span Menu

        %section.top-bar-section
          %ul.right
            - if user_signed_in?
              %li
                = link_to "Signed in as #{current_user.username}", user_path(current_user)
              %li= link_to "Sign Out", session_path, method: :delete
            - else
              %li= link_to "Sign In With GitHub", new_session_path

          %ul.left
            %li= link_to "Browse", lessons_path
            %li= link_to "Getting Started", start_path
            %li.has-form
              .row.collapse
                = form_tag lessons_path, method: :get do
                  .large-8.small-9.columns
                    = text_field_tag :query, params[:query]
                  .large-4.small-3.columns
                    = submit_tag "Search", class: "alert button expand"


    #notifications.row
      - flash.each do |type, message|
        .alert-box(class=type data-alert)
          = message
          %a.close(href="#") &times;

    .row
      .small-12.columns
        #content
          ~ yield

    = javascript_include_tag "application"
